# Importing Libraries:

In [1]:
import warnings
import numpy as np
import pandas as pd
warnings.filterwarnings('ignore')
from scipy.stats import stats, f, chi2_contingency
from statsmodels.stats.proportion import proportions_ztest

# Given File:

In [2]:
# 1984 data:
df1 = pd.read_excel('exam data june 2023.xlsx', sheet_name=0)
df1.head()

,#,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
0,1,Alipurduars,2,ST,West Bengal,Pijus Tirkey,Revolutionary Socialist Party,736742,557382,0.757,30182,0.054
1,2,Arambagh,28,GEN,West Bengal,Anil Basu,Communist Party Of India (MARXIST),768645,659108,0.858,14160,0.021
2,3,Asansol,38,SC,West Bengal,Anada Gopal Mukherjee,Indian National Congress,893685,625065,0.699,86666,0.139
3,4,Balurghat,6,GEN,West Bengal,Palas Barman,Revolutionary Socialist Party,768931,626120,0.814,22217,0.035
4,5,Bankura,35,GEN,West Bengal,Acharia Basudeb,Communist Party Of India (MARXIST),771050,567298,0.736,24216,0.043

In [3]:
# 1996 data:
df2 = pd.read_excel('exam data june 2023.xlsx', sheet_name=1)
df2.head()

,#,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
0,1,Alipurduars,2,ST,West Bengal,Joachim Baxla,Revolutionary Socialist Party,1000857,854456,0.854,137810,0.161
1,2,Arambagh,28,GEN,West Bengal,Anil Basu,Communist Party Of India (MARXIST),1067420,931653,0.873,226333,0.243
2,3,Asansol,38,SC,West Bengal,Haradhan Roy,Communist Party Of India (MARXIST),1207881,841736,0.697,46950,0.056
3,4,Balurghat,6,GEN,West Bengal,Barman Ranen,Revolutionary Socialist Party,1067771,926427,0.868,143707,0.155
4,5,Bankura,35,GEN,West Bengal,Acharia Basudeb,Communist Party Of India (MARXIST),994144,774916,0.780,228987,0.295

# 1. Two Sample T-Test (unequal variance): 
My Question: In West Bengal, whether Avg no of electors in 1996 is greater than that of 1984? <br>
**H0:** mu_electors_1996 <= mu_electors_1984 <br>
**H1:** mu_electors_1996 > mu_electors_1984 <br>
**it will be a right tail test**

#### data where year = 1996

In [4]:
df2['Electors'].head(3)

0    1000857
1    1067420
2    1207881
Name: Electors, dtype: int64

#### data where year = 1984

In [5]:
df1['Electors'].head(3)

0    736742
1    768645
2    893685
Name: Electors, dtype: int64

In [6]:
stats.ttest_ind(a = df2['Electors'], 
                b = df1['Electors'], 
                equal_var=False, 
                alternative='greater')

Ttest_indResult(statistic=12.538082509676459, pvalue=1.2745143369422528e-18)

#### **<u>Conclusion:</u>**
since p value is less than 0.05; so we will reject H0. <br>
it means In West Bengal, Avg no of electors in 1996 is greater than that of 1984

# 2. Z-Proportion Test:
My Question: whether proportion of communist party stood in 1984 is greater than proportion of communist party in 1996? <br>
**H0:** p1 <= p2 <br>
**H1:** p1 > p2 <br>
**it will be a right tail test**

## <u>Steps Required:</u> 
#### STEP-1: divide entire dataframe wrt year 1984 & 1996
#### STEP-2: now check how many times communist party stood? 
#### then find the proportion of communist party in 1984 & do same for 1996

In [7]:
df11 = df1.copy()
n1 = df11.shape[0]
print('n1 = ', n1)
df11.head()

n1 =  42

,#,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
0,1,Alipurduars,2,ST,West Bengal,Pijus Tirkey,Revolutionary Socialist Party,736742,557382,0.757,30182,0.054
1,2,Arambagh,28,GEN,West Bengal,Anil Basu,Communist Party Of India (MARXIST),768645,659108,0.858,14160,0.021
2,3,Asansol,38,SC,West Bengal,Anada Gopal Mukherjee,Indian National Congress,893685,625065,0.699,86666,0.139
3,4,Balurghat,6,GEN,West Bengal,Palas Barman,Revolutionary Socialist Party,768931,626120,0.814,22217,0.035
4,5,Bankura,35,GEN,West Bengal,Acharia Basudeb,Communist Party Of India (MARXIST),771050,567298,0.736,24216,0.043

In [8]:
x1 = df11[df11['Party'] == 'Communist Party Of India (MARXIST)'].shape[0]
p1 = x1/n1

In [9]:
df12 = df2.copy()
n2 = df12.shape[0]
print('n2 = ', n2)
df12.head()

n2 =  42

,#,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
0,1,Alipurduars,2,ST,West Bengal,Joachim Baxla,Revolutionary Socialist Party,1000857,854456,0.854,137810,0.161
1,2,Arambagh,28,GEN,West Bengal,Anil Basu,Communist Party Of India (MARXIST),1067420,931653,0.873,226333,0.243
2,3,Asansol,38,SC,West Bengal,Haradhan Roy,Communist Party Of India (MARXIST),1207881,841736,0.697,46950,0.056
3,4,Balurghat,6,GEN,West Bengal,Barman Ranen,Revolutionary Socialist Party,1067771,926427,0.868,143707,0.155
4,5,Bankura,35,GEN,West Bengal,Acharia Basudeb,Communist Party Of India (MARXIST),994144,774916,0.780,228987,0.295

In [10]:
x2 = df12[df12['Party'] == 'Communist Party Of India (MARXIST)'].shape[0]
p2 = x2/n2

In [11]:
zstat, pvalue = proportions_ztest(count = np.array([x1,x2]), 
                                  nobs =np.array([n1,n2]) , 
                                  alternative='larger')
print('z stat = ', zstat)
print('p value = ', pvalue)

z stat =  -1.091398848450092
p value =  0.862451290545551

#### **<u>Conclusion:</u>**
Since p value is greater than 0.05; so we will accept H0. <br>
it means proportion of communist party in 1984 is not greater than proportion of communist party in 1996.

# 3. F Test:
My Question: whether variance of votes in 1984 is not equal to variance of votes in 1996? <br>
**H0:** (sigma1)^2 = (sigma2)^2  <br>
**H1:** (sigma1)^2 is not equal to (sigma2)^2  <br>
**it will be two tail test**

In [12]:
alpha = 0.05     # significance level

#### Votes in 1984:

In [13]:
votes_1984 = df1['Votes']
n1 = votes_1984.size
dof1 = n1-1
s1 = np.std(votes_1984)
print('s1 = ', s1)
print('dof1 = ', dof1)

s1 =  62119.17027953356
dof1 =  41

#### Votes in 1996:

In [14]:
votes_1996 = df2['Votes']
n2 = votes_1996.size
dof2 = n2-1
s2 = np.std(votes_1996)
print('s2 = ', s2)
print('dof2 = ', dof2)

s2 =  122099.97421419293
dof2 =  41

In [15]:
# we have to put big S in Numerator (s2 > s1)
num = s2 / (n2-1)
dof_num = (n2-1)
den = s1 / (n1-1)
dof_den = (n1-1)
Fcalculated = num / den
Fcritical_right = f.isf(alpha/2, dfn = dof_num, dfd = dof_den)
Fcritical_left = f.isf(1-alpha/2, dof_num, dof_den)
print('Fcritical_right = ', np.round(Fcritical_right , 3))
print('Fcritical_left = ', np.round(Fcritical_left , 3))
print('Fcalculated = ', Fcalculated)

Fcritical_right =  1.86
Fcritical_left =  0.538
Fcalculated =  1.9655763859167528

#### **<u>Conclusion:</u>**
Since Fcalculated > Fcritical_right_tail; so we will reject H0 <br>
it means in West Bengal, variance of votes in 1984 was not equal to variance of votes in 1996.

# 4. ANOVA Test:
My Assumption: In 1996, avg votes given by Gen candidates is same as avg votes given by ST candidates which is equal to avg votes given by SC candiates? <br>
**H0:** mu1_votes_gen = mu2_votes_st = mu3_votes_sc <br>
**H1:** mu1_votes_gen <> mu2_votes_st <> mu3_votes_sc

In [16]:
series1 = df2[df2['Type'] == 'GEN']['Votes'].values.tolist()
series2 = df2[df2['Type'] == 'ST']['Votes'].values.tolist()
series3 = df2[df2['Type'] == 'SC']['Votes'].values.tolist()

In [17]:
stats.f_oneway(series1, series2, series3)

F_onewayResult(statistic=0.7212595448321925, pvalue=0.4925098871298438)

#### **<u>Conclusion:</u>**
since pvalue is greater than 0.05; we will accept H0 <br>
It means in West Bengal, avg votes given by Gen candidates was same as avg votes given by ST candidates which was equal to avg votes given by SC candiates in the year of 1996.

# 5. Chi-Square Test:
**H0:** Two categories (Type & Party) are independent <br>
**H1:** Two categories are dependent <br>
we are considering year 1996

In [18]:
cross_df = pd.crosstab(index = df2['Type'], columns = df2['Party'])
cross_df

Party,All India Forward Bloc,Communist Party Of India,Communist Party Of India (MARXIST),Indian National Congress,Revolutionary Socialist Party
Type,,,,,
GEN,1,1,16,9,3
SC,2,2,6,0,0
ST,0,0,1,0,1

In [19]:
chi2, p, dof, expected = chi2_contingency(observed=cross_df)
print('Degrees of Freedom = ', dof)
print('Calculated Chi-Square value = ', chi2)
print('P value = ', p)

Degrees of Freedom =  8
Calculated Chi-Square value =  14.202898550724633
P value =  0.07662783876171508

#### **<u>Conclusion:</u>**
since pvalue is greater than 0.05; so we will accept H0 <br>
It means the two categories are independent to each other.